# Temporary and binary files
*.log
*/.ipynb_checkpoints/*

# Ignore all folders in the main directory except specific ones
/*/
!/nlphub/
!/notebooks/

01.ipynb

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

