# Temporary and binary files
*.log
*/.ipynb_checkpoints/*

# Ignore all folders in the main directory except specific ones
/*/
!/nlphub/
!/notebooks/

# Only allow .ipynb files in notebooks and its subdirectories
/notebooks/*
!/notebooks/**/*.ipynb

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

